[tool.poetry]
name = "nominal"
version = "0.0.39"
description = "Automate Nominal workflows in Python"
authors = ["JP <jack@nominal.io>", "Michael Bauer <michael@nominal.io>"]
readme = "README.md"
packages = [
    {include = "nominal/**/*.py"},
    {include = "nominal/**/*.csv"},
]
include = ["README.md", "LICENSE"]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.32.3"
python-dateutil = "^2.9.0.post0"
jsondiff = "^2.2.0"
polars = "^1.4.1"
keyring = "^25.0.0"
rich = "^13.7.1"
conjure-python-client = ">=2.8.0,<3"

[tool.poetry.dev-dependencies]
isort = "^5.13.2"
ruff = "^0.4.2"

[tool.poetry.group.dev.dependencies]
jupyterlab = "^4.2.4"

[tool.distutils.bdist_wheel]
universal = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 120
exclude = ["nominal/_api/*", "example.ipynb"]

[tool.ruff.lint]
select = ["ALL"]
ignore = ["COM812", "ISC001", "UP", "D", "ANN"]

[tool.isort]
profile = "black"
skip = ["nominal/_api"]
src_paths = ["nominal"]
