[tool.poetry]
name = "nominal"
version = "1.6.0"
description = "Automate Nominal workflows in Python"
authors = [
    "Alexander Reynolds <alex.reynolds@nominal.io>",
    "Alexander Hill <alex.hill@nominal.io>",
    "JP <jack@nominal.io>",
    "Michael Bauer <michael@nominal.io>",
]
readme = "README.md"
license = "MIT"
homepage = "https://nominal.io"
repository = "https://github.com/nominal-io/nominal-client"
include = ["README.md", "LICENSE", "CHANGELOG.md"]

[tool.poetry.scripts]
nom = 'nominal.cli:nom'

[tool.poetry.dependencies]
python = "^3.9"
requests = "*"
python-dateutil = "*"
polars = "*"
conjure-python-client = ">=2.8.0,<3"
pandas = "*"
pydantic = ">=2.0,<3"
typing-extensions = ">=4,<5"
click = ">=8,<9"
pyyaml = "*"

[tool.poetry.group.dev.dependencies]
ruff = "^0.4.2"
mypy = "^1.11.2"
jupyter = "^1.1.1"
types-requests = "^2.32.0.20240712"
pandas-stubs = "~2.0"
pytest = "^8.3.2"
types-pyyaml = "^6.0.12.20240808"
mkdocs = "^1.6.1"
mkdocs-material = "^9.5.34"
mkdocstrings = "^0.26.1"
mkdocstrings-python = "^1.11.1"
black = "^24.8.0"
mkdocs-click = { git = "https://github.com/alkasm/mkdocs-click", rev = "alkasm/keep-context-settings" }
jupyterlab = "^4.2.5"


[tool.distutils.bdist_wheel]
universal = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 120
exclude = ["nominal/_api/*"]

[tool.mypy]
strict = true
packages = ["nominal"]

[[tool.mypy.overrides]]
module = "nominal._api.*"
implicit_reexport = true
no_implicit_optional = false
disable_error_code = ["no-any-return", "no-untyped-def"]

[tool.pytest.ini_options]
filterwarnings = [
    "error", # transform all warnings into errors, except ignore: ones.
    # DeprecationWarning: The 'strict' parameter is no longer needed on Python 3+. This will raise an error in urllib3 v2.1.0.
    # from conjure-python-client, in conjure_python_client/_http/requests_client.py,
    # TransportAdapter.init_poolmanager() uses urllib3.poolmanager.PoolManager(..., strict=True) which is deprecated.
    "ignore:The 'strict' parameter is no longer needed on Python 3+.",
]
testpaths = ["tests"]
# make tests/e2e opt-in (they require a Nominal instance)
norecursedirs = ["tests/e2e"]
