on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: depot-ubuntu-24.04-small
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.NOMBOT_CLASSIC_PERSONAL_ACCESS_TOKEN }}
          release-type: python
